<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.mapper.CarMapper">
	<resultMap type="com.example.entity.Car" id="carMap">
		<id column="ID" property="id"/>
		<result column="NAME" property="name"/>
		<result column="PASSENGERS" property="passengers"/>
		<association property="driver" javaType="com.example.entity.Driver">
		<id column="D_ID" property="id"/>
		<result column="D_NAME" property="name"/>
		</association>
		<collection property="customers" ofType="com.example.entity.Customer">
			<id column="CU_ID" property="id"/>
			<result column="CU_NAME" property="name"/>
		</collection>
	</resultMap>
	
	<select id="findAll" resultMap="carMap">
	SELECT
		*
	FROM
		CARS
	<where>
		<if test="id != null">
			ID = #{id}
 		</if>
		<if test="name != null">
			OR NAME = #{name}
		</if>
		<if test="passengers != null">
			OR PASSENGERS = #{passengers}
		</if>
	</where>
	</select>
	<insert id="insert" useGeneratedKeys="true" keyColumn="ID" keyProperty="id">
		INSERT INTO CARS(ID, NAME, PASSENGERS) VALUES(CAR_ID_SEQ.nextval,#{name},#{passengers})
	</insert>
	<select id="findById" resultMap="carMap">
		SELECT
			C.ID
			,C.NAME
			,C.PASSENGERS
			,D.ID AS D_ID
			,D.NAME AS D_NAME
			,CU.ID AS CU_ID
			,CU.NAME AS CU_NAME
		FROM
			CARS C
		INNER JOIN
			DRIVERS D
		ON
			D.CARS_ID = C.ID
		LEFT OUTER JOIN
			CUSTOMERS CU
		ON
			CU.CARS_ID = C.ID
		WHERE
			C.ID = #{id}
	</select>
	<update id="update">
		UPDATE CARS SET NAME = #{name}, PASSENGERS = #{passengers} WHERE ID = #{id}
	</update>
	<delete id="deleteById">
		DELETE FROM CARS WHERE ID = #{id}
	</delete>
	
</mapper>
 

 
 