<!DOCTYPE html> 
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>車両一覧表示</title>
</head>
<body>
    <h1>車両一覧表示</h1>
    <div>
        <a href="/create">新規登録</a>
    </div>
    <table>
        <thead>
            <tr>
                <th>id</th>
                <th>車両名</th>
                <th>乗員数</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="car : ${cars}">
                <td th:text="${car.id}"></td>
                <td th:text="${car.name}"></td>
                <td th:text="${car.passengers}"></td>
                <td>
                    <form method="get">
                        <input type="submit" value="編集">
                    </form>
                </td>
                <td>
                    <form method="post">
                        <input type="submit" value="削除">
                    </form>
                </td>
            </tr>
        </tbody>
    </table>
</body>
</html>